:root {
    box-sizing: border-box;
    --logo-text-size: 3.3rem;
    --main-text-size: 2.5rem;
    --second-text-size: 1.875rem;
}

* {
    text-decoration: none;
    margin: 0;
    color: inherit;
}

*,
::after,
::before { box-sizing: inherit; }

@font-face {
    font-family: "Basic";
    src: url("src/basic.ttf") format("truetype");
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fake_img {
    border-radius: 80px;
    background-color: gray;
}

#progress_line {
    position: fixed;
    left: 0;
    top: 0;
    width: 0%;
    height: 4px;
    background: red;
}

body {
    font-family: "Basic";
    background: linear-gradient(180deg, #020024 7.81%, #090979 26.56%, #020024 100%);
    color: #fff;
}

header {
    padding: 20px 100px 23px 100px;
}

.logo { gap: 16px; }

.logo_text {
    font-size: var(--logo-text-size);
    font-style: normal;
    font-weight: 400;
}

nav {
    flex-shrink: 0;
    gap: 20px;
    font-size: var(--second-text-size);
}

nav > a {
    padding: 0px 5px;
    transition: background-color 0.3s ease;
}

nav > a:hover {
    border-radius: 15px;
    background: rgba(217, 217, 217, 0.18);
}

.login {
    font-size: var(--second-text-size);
    padding: 4px 10px;
    gap: 10px;
    border: 1px solid #FFF;
    border-radius: 10px;
}

main {
    padding: 15px 100px;
    gap: 30px;
}

main > h1 {
    text-align: center;
    font-size: 60px;
}

.best_blog {
    display: flex;
    gap: 50px;
}

.content { gap: 10px; }

.description { flex-grow: 2; }

.content > h1 { 
    font-size: var(--main-text-size); 
}

.content > h2 { 
    font-size: var(--second-text-size); 
    font-weight: 300;
}

.seconds_blogs { gap: 100px; }

.bar { padding: 0px 20px; }

.likes { gap: 10px; }

.another { gap: 20px; }

.blog {
    gap: 20px;
    padding: 0px 20px;
}

.blog > h1 { text-align: center;}

aside {
    width: 100%;
}

.activity {
    display: flex;
    gap: 20px;
}

.users {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.chat {
    gap: 20px;
}

