@font-face {
    font-family: 'Basic';
    src: url(../fonts/basic.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: "Basic";
}

canvas {
    position: absolute;
    background:
        linear-gradient(180deg, #4F0861 0%, #700F88 0.01%,
        #000 108.34%, rgba(255, 255, 255, 0.00) 108.35%);
    left: 0;
    z-index: -1;
}

form.create {
    gap: 30px;
    display: flex;
    height: 100vh;
    padding-top: 8vh;
    width: 80%;
    padding-bottom: 3vh;
}

form.create > textarea {
    padding: 20px;
    width: 70%;
    height: 100%;
    border-radius: 40px;
    border: 1px solid #952BFF;
    background: rgba(0, 0, 0, 0.20);
}

form.create .preference {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.preference input[type=file] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 40px;
    padding-top: 45%;
    padding-left: 10%;
    height: 30%;
    width: 100%;
}

.preference input[type=text] {
    text-indent: 10px;
    height: 30px;
    font-size: 20px;
    border-radius: 40px;
    border: 1px solid #FFF;
    background: rgba(0, 0, 0, 0.20);
}