.linear-gradient-text {
    background: linear-gradient(270deg, #952BFF 0%, #FF6CAB 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linear-gradient-bg {
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(149, 43, 255, 0.10) 0%, rgba(255, 108, 171, 0.10) 100%);
}

.linear-gradient-bg-end {
    border-radius: 30px;
    background: linear-gradient(270deg, rgba(149, 43, 255, 0.20) 0%, rgba(255, 108, 171, 0.20) 100%);
}

@font-face {
    font-family: 'Basic';
    src: url(../fonts/basic.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

canvas {
    z-index: -1;
    position: absolute;
}

body {
    font-family: "Basic";
    background: linear-gradient(180deg, #020024 7.81%, #090979 26.56%, #020024 100%);
    color: #fff;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    margin: 20px 100px 0 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
}

header ul {
    display: flex;
    gap: 2rem;
}

header > ul > li {
    font-size: 20px;
}

ul > li > a {
    border-radius: 15px;
    transition: background-color 0.5s ease;
    padding: 0px 5px;
}

header li > a:hover {
    border-radius: 12%;
    background-color: rgba(139, 132, 132, 0.18);
}

a.login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

a.login:hover {
    margin: -2px;
    background:  padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 30%;
    border: 2px solid transparent;
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.popular > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.best {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 40px;
    margin-bottom: 20px;
}

.best .img {
    max-width: 475px;
    min-width: 100px;
    width: 100%;
    height: 250px;
    border-radius: 40px;
} 


.best .content {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a[href='blog.html'] {
    text-align: center;
}

.content > h3,
.content > p {
    text-align: center;
}

.bar {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar > .likes {
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar > .another {
    display: flex;
    gap: 10px;
}

.seconds {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.seconds > .blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    gap: 20px;
}

.blog > h3 {
    text-align: center;
}

.blog > img {
    width: 80%;
    border-radius: 15%;
}

.links {
    margin: 20px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links > h1 {
    padding: 10px;
}

.links > h1:hover {
    margin: -1px;
    background:
        linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 20px;
    border: 1px solid transparent;
}

.activity {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.activity form {
    width: 100%;
    background: linear-gradient(270deg, rgba(149, 43, 255, 0.20) 0%, rgba(255, 108, 171, 0.20) 100%);
    padding: 20px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form > .title {
    display: flex;
    justify-content: center;
}

form section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

section button {
    background: none;
    border: 0;
}

form > input {
    max-width: 400px;
    font-size: 20px;
    font-family: "Basic";
    color: #fff;
    background: #040345;
    text-indent: 10px;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 70%;
}

textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}


input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea {
    font-size: 20px;
    max-width: 400px;
    font-family: "Basic";
    color: #fff;
    background: #040345;
    text-indent: 10px;
    border: none;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

footer > h4 {
    opacity: 0.4;
}