@font-face {
    font-family: 'Basic';
    src: url(../fonts/basic.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    background: linear-gradient(#020024 0%, #090979 100%);
    color: #fff;
    font-family: "Basic";
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.wrapper {
    border: 1px solid white;
    display: flex;
    align-items: center;
    margin: 0 100px;
}

.left {
    display: flex;
    padding: 100px 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.left > img {
    border: 2px solid #952BFF;
    border-radius: 30%;
}

.left > .progress {
    background: linear-gradient(270deg, #952BFF 0%, #FF6CAB 100%);
    width: 160px;
    height: 4px;
}

.left > .stats {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .stats > h2 {
    text-align: center;
} */

.stats > .bar {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bar > .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stat > p {
    font-size: 30px;
}







